<template>
  <div>
    <h2>{{event.name}}</h2>
    <h5>Total: {{event.seat_count}}</h5>
    <h5>Booked: {{event.visitor_count}}</h5>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { GET_PLACES } from '../../store/actions';

export default {
  name: 'EventInfo',

  props: {
    eventId: {
      type: Number,
      default: 0,
    },
    placeId: {
      type: Number,
      default: 0,
    },
  },

  computed: {
    ...mapGetters([
      'places',
      'loading',
    ]),

    event() {
      if (this.places.length === 0) {
        return [];
      }
      const place = this.places.find(item => item.id === this.placeId);

      return place.events.find(item => item.id === this.eventId);
    },
  },

  mounted() {
    if (this.places.length === 0) {
      this.$store.dispatch(GET_PLACES);
    }
  },
};
</script>

<style scoped>

</style>
