<template>
  <div>
    <button
        type="button"
        :class="whenBookedClass(seat)"
        :disabled="seat.is_booked"
        @click.prevent="openBookForm()"
    >
      {{seatLabel(seat)}}
      <img v-if="seat.is_booked" :src="seat.visitor_logo" :alt="`$${seat.price}`" class="visitor-logo">
    </button>
  </div>
</template>

<script>
export default {
  name: 'Seat',

  props: {
    seat: {
      type: Object,
      default() {
        return {};
      },
    },
  },

  methods: {
    whenBookedClass(seat) {
      return seat.is_booked ? 'btn btn-outline-primary disabled' : 'btn btn-outline-primary';
    },

    seatLabel(seat) {
      return seat.is_booked ? '' : `$${seat.price}`;
    },

    openBookForm() {
      this.$router.push({
        name: 'BookSeat', params: {
          seat: this.seat.id,
          event: this.seat.event_id,
          place: this.seat.place_id,
        },
      });
    },
  },
};
</script>

<style scoped>
  .btn-outline-primary.disabled {
    cursor: not-allowed;
  }

  button {
    width: 70px;
    height: 70px;
  }

  .visitor-logo {
    max-height: 50px;
    max-width: 50px;
  }
</style>
