<template>
  <div class="container-fluid">
    <div v-for="(rowSeats, index) in seatsInRows" :key="index" class="row">
      <Seat v-for="seat in rowSeats" :key="seat.id" :seat="seat" class="lg-1 m-3"></Seat>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Seat from './Seat';

export default {
  name: 'SeatsGrid',

  components: {
    Seat,
  },

  computed: {
    ...mapGetters([
      'loading',
      'seats',
    ]),

    seatsInRows() {
      if (this.seats.length === 0) {
        return {};
      }

      return this.seats.reduce(function(r, a) {
        r[a.row_number] = r[a.row_number] || [];
        r[a.row_number].push(a);
        return r;
      }, Object.create(null));
    },
  },
};
</script>

<style scoped>

</style>
