<template>
  <div class="container">
    <EventInfo :eventId="eventId" :placeId="placeId"></EventInfo>

    <ValidationObserver v-slot="{ invalid }">
      <form @submit.prevent="onSubmit">
        <fieldset>
          <legend>Please enter your details</legend>
          <div class="form-group">
            <label for="company">Company</label>
            <ValidationProvider rules="required" v-slot="{ errors }">
              <input
                  v-model="company"
                  type="text"
                  class="form-control"
                  id="company"
                  placeholder="Enter your company"
              >
              <span class="invalid-feedback">{{ errors[0] }}</span>
            </ValidationProvider>
          </div>


          <div class="form-group">
            <label for="name">Your name</label>
            <ValidationProvider rules="required" v-slot="{ errors }">
              <input v-model="name" type="text" class="form-control" id="name" placeholder="Enter your name">
              <span class="invalid-feedback">{{ errors[0] }}</span>
            </ValidationProvider>
          </div>

          <div class="form-group">
            <label for="email">Email address</label>
            <ValidationProvider rules="required" v-slot="{ errors }">
              <input v-model="email" type="email" class="form-control" id="email" placeholder="Enter email">
              <span class="invalid-feedback">{{ errors[0] }}</span>
            </ValidationProvider>
          </div>

          <div class="form-group">
            <label for="phone">Phone</label>
            <ValidationProvider rules="required" v-slot="{ errors }">
              <input v-model="phone" type="tel" class="form-control" id="phone" placeholder="Enter phone">
              <span class="invalid-feedback">{{ errors[0] }}</span>
            </ValidationProvider>
          </div>

          <div class="form-group">
            <label for="desc">Comment</label>
            <textarea v-model="desc" class="form-control" id="desc" rows="3"></textarea>
          </div>

          <div class="form-group">
            <label for="image">File input</label>
            <ValidationProvider rules="required|image|ext:jpg,png,jpeg" ref="provider" v-slot="{ validate, errors }">
              <input
                  type="file"
                  accept="image/png, image/jpeg, image/jpg"
                  class="form-control-file"
                  id="image"
                  @change="onImageChange($event)">
              <span class="invalid-feedback">{{ errors[0] }}</span>
            </ValidationProvider>
          </div>

          <button
              :disabled="isButtonDisabled(invalid)"
              type="submit"
              class="btn btn-lg btn-primary"
          >
            Book this seat
          </button>

          <div v-if="hasErrors" class="invalid-feedback">{{showErrors()}}</div>

        </fieldset>
      </form>
    </ValidationObserver>

  </div>
</template>

<script>
import { ValidationProvider, extend, ValidationObserver } from 'vee-validate';
import { required, min, image, ext } from 'vee-validate/dist/rules';
import EventInfo from '../components/SeatMap/EventInfo';
import { BOOK_SEAT, CLEAR_REQUEST_LAST_ERROR } from '../store/actions';
import { mapGetters } from 'vuex';

extend('required', {
  ...required,
  message: 'This field is required',
});

extend('min', {
  ...min,
  message: 'Must be 3 chars min',
});

extend('image', {
  ...image,
  message: 'Must be image',
});

extend('ext', {
  ...ext,
  message: 'Must be jpeg, jpr or png',
});

export default {
  name: 'BookSeat',

  components: {
    EventInfo,
    ValidationProvider,
    ValidationObserver,
  },

  data() {
    return {
      formData: new FormData(),
      company: '',
      name: '',
      phone: '',
      email: '',
      desc: null,
      image: null,
    };
  },

  computed: {
    ...mapGetters([
      'requestErrors',
      'loading',
      'bookingFinished',
    ]),

    isBookingRequest() {
      return this.loading[BOOK_SEAT];
    },

    seatId() {
      return this.$route.params.seat;
    },

    eventId() {
      return parseInt(this.$route.params.event);
    },

    placeId() {
      return parseInt(this.$route.params.place);
    },

    hasErrors() {
      return this.requestErrors[BOOK_SEAT];
    },
  },

  watch: {
    bookingFinished: function(value) {
      if (value) {
        this.$router.replace({
          name: 'EventSeats', params: {
            place: this.placeId,
            event: this.eventId,
          },
        });
      }
    },
  },

  methods: {
    isButtonDisabled(invalid) {
      return this.isBookingRequest || invalid || this.image === null;
    },

    showErrors() {
      const errors = this.requestErrors[BOOK_SEAT].data.errors;

      let text = '';
      for (let field in errors) {
        console.log(errors);
        if (errors.hasOwnProperty(field)) {
          const list = errors[field];
          list.forEach(item => text += `${field}: ${item};`);
        }
      }

      return text;
    },

    async onImageChange(e) {
      const { valid } = await this.$refs.provider.validate(e);

      if (!valid) {
        return;
      }

      let files = e.target.files || e.dataTransfer.files;

      if (!files.length) {
        console.log('Err: no files');
      }

      this.image = files[0];
    },

    onSubmit() {
      this.formData = new FormData();
      this.formData.append('company', this.company);
      this.formData.append('name', this.name);
      this.formData.append('phone', this.phone);
      this.formData.append('email', this.email);
      if (this.desc) {
        this.formData.append('desc', this.desc);
      }
      this.formData.append('image', this.image, this.image.name);

      this.$store.dispatch(BOOK_SEAT, {
        seat: this.seatId,
        formData: this.formData,
      });
    },
  },

  beforeDestroy() {
    this.$store.dispatch(CLEAR_REQUEST_LAST_ERROR, { name: BOOK_SEAT });
  },
};
</script>

<style scoped>
  .invalid-feedback {
    display: block;
  }
</style>
