<template>
  <div>
    <MglMap
        :accessToken="accessToken"
        :mapStyle="mapStyle"
        :zoom="13"
        :center="center"
        @load="setMarkers"
    >

      <MglMarker
          v-for="marker in markers"
          :key="marker.id"
          :coordinates="[marker.location.lon, marker.location.lat]"
          color="blue"
      >
        <MglPopup>
          <PlaceDescription :place="marker">
            <div>Hello, I'm popup!</div>
          </PlaceDescription>
        </MglPopup>
      </MglMarker>
    </MglMap>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { GET_PLACES } from '../store/actions';
import Mapbox from "mapbox-gl";
import { MglMap, MglMarker, MglPopup } from "vue-mapbox";
import cfg from '../../config';
import PlaceDescription from '../components/PlaceDescription';

export default {
  name: 'Events',

  components: {
    MglMap,
    MglMarker,
    MglPopup,
    PlaceDescription
  },

  data() {
    return {
      markers: [],
      accessToken: cfg.mapsApiKey,
      mapStyle: 'mapbox://styles/mapbox/streets-v11',
      center: [14.5130843, 35.885326]
    };
  },

  computed: {
    ...mapGetters([
      'places',
    ]),
  },

  created() {
    this.mapbox = Mapbox;
  },

  mounted() {
    this.$store.dispatch(GET_PLACES);
  },

  methods: {
    setMarkers() {
      this.markers = this.places;
    }
  }
};
</script>

<style scoped>
  .mapboxgl-canvas-container {
    height: 800px;
  }

  .mgl-map-wrapper {
    height: 800px;
  }
</style>
