<template>
  <div class="container">

    <div v-if="showAlert" class="row mt-3">
      <div class="col-md-6">
        <div class="alert alert-success">
          <strong>Success!</strong> You have booked that seat.
        </div>
      </div>
    </div>


    <EventInfo :eventId="eventId" :placeId="placeId"></EventInfo>

    <h6>Please choose a place to book</h6>

    <SeatsGrid></SeatsGrid>
  </div>
</template>

<script>
import EventInfo from '../components/SeatMap/EventInfo';
import SeatsGrid from '../components/SeatMap/SeatsGrid';
import { GET_SEATS, CLEAR_SEATS, RESET_BOOKING_STATE } from '../store/actions';
import { mapGetters } from 'vuex';

export default {
  name: 'EventSeats',

  components: {
    EventInfo,
    SeatsGrid,
  },

  data() {
    return {
      showAlert: false
    }
  },

  computed: {
    ...mapGetters([
      'bookingFinished',
      'loading',
    ]),

    eventId() {
      return parseInt(this.$route.params.event);
    },

    placeId() {
      return parseInt(this.$route.params.place);
    },
  },

  mounted() {
    this.$store.dispatch(GET_SEATS, { eventId: this.eventId });
    this.showAlert = this.bookingFinished;

    if (this.bookingFinished) {
      this.$store.dispatch(RESET_BOOKING_STATE);
    }
  },

  beforeDestroy() {
    this.$store.dispatch(CLEAR_SEATS);
  }
};
</script>

<style scoped>

</style>
