<template>
  <div>
    <h2>{{place.name}}</h2>
    <p>{{place.address}}</p>
    <p><small>{{place.phone}}</small></p>

    <h3>Events</h3>
    <p v-for="event in place.events" :key="event.id">
      <router-link
          :to="{name: 'EventSeats', params: {event: event.id, place: place.id}}"
          tag="button"
          class="btn btn-success mr-2"
      >
        {{event.starts_at}}
      </router-link>
      <span class="badge badge-pill badge-success mr-2">Free: {{getFreeSeatsCount(event)}}</span>
      <span class="badge badge-pill badge-secondary">Booked: {{event.visitor_count}}</span>
    </p>
  </div>
</template>

<script>
export default {
  name: 'PlaceDescription',

  props: {
    place: {
      type: Object,
      default() {
        return {};
      },
    },
  },

  methods: {
    getFreeSeatsCount(event) {
      return parseInt(event.seat_count) - parseInt(event.visitor_count);
    },
  },

};
</script>

<style scoped>

</style>
