<template>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <router-link tag="a" class="navbar-brand" to="/">Events booking demo app</router-link>
    </nav>

    <div id="app">
      <router-view/>
    </div>

  </div>
</template>

<style lang="scss">
  @import './assets/sass/app.scss';
</style>
